{% extends "base_dash_contents.html" %}
{% load course %}
{% load static %}
{% load i18n %}

{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}

<div class="card-body">
  <h3>{% trans "Add" %} {% trans "new" %} {% trans "content" %}:</h3>

  <a type="button" href="{% url "module_content_create" module.id "text" %}"  class="btn btn-primary mb-1" data-container="body" data-toggle="popover"
    data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    {% trans "Text" %}
  </a>

  <a href="{% url "module_content_create" module.id "image" %}" type="button" class="btn btn-primary mb-1" data-container="body" data-toggle="popover"
    data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    {% trans "Image" %}
  </a>
  <a href="{% url "module_content_create" module.id "video" %}" type="button" class="btn btn-primary mb-1" data-container="body" data-toggle="popover"
    data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    {% trans "video" %}
  </a>
  <a  href="{% url "module_content_create" module.id "file" %}" type="button" class="btn btn-primary mb-1" data-container="body" data-toggle="popover"
    data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    {% trans "File" %}
  </a>
  <a  href="{% url "module_content_create" module.id "zoom_link" %}" type="button" class="btn btn-primary mb-1" data-container="body" data-toggle="popover"
    data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    {% trans "Zoom Link" %}
  </a>
</div>

<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  <h6 class="m-0 font-weight-bold text-primary">{% trans "Content Table"%}</h6>
</div>
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th>{% trans "#"%}</th>
        <th>{% trans "Module"%}</th>
        <th>{% trans "Content"%}</th>
        <th>{% trans "Type"%}</th>
        <th>{% trans "Edit"%}</th>
        <th>{% trans "Delete"%}</th>
      </tr>
    </thead>
    {% with course=module.course %}
    {% for content in module.contents.all %}
    {% with item=content.item %}
    <tbody>
      <tr>
        <td>{{ module.order|add:1 }}</td>
        <td>{{ module.title }}</td>
        <td>{{ item }}</td>
        <td><span class="badge badge-success">{{ item|model_name }}</span></td>
        <td><a href="{% url "module_content_update" module.id item|model_name item.id %}" class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></a></td>
        <td>
          <form action="{% url "module_content_delete" content.id %}" method="post">
          <button type="submit"  class="btn btn-sm btn-danger" value="Delete"><i class="fas fa-trash"></i>
          {% csrf_token %}
          </button>
        </form>
      </td>
      </tr>
    {% endwith %}
    {% empty %}
        <tr><p>This module has no contents yet.</p></tr>
    {% endfor %}
    {% endwith %}
    </tbody>
  </table>


</div>

{% endblock %}

{% block domready %}

  $('#modules').sortable({
      stop: function(event, ui) {
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
                 data: JSON.stringify(modules_order)
             });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });

{% endblock %}
