{% extends "base_dash_courses.html" %}
{% load i18n %}

{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}

{% block content %}

<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
  <h6 class="m-0 font-weight-bold text-primary">{% trans "My Driving Courses" %}</h6>
</div>

<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th>{% trans "Course"%}</th>
        <th>{% trans "Subject"%}</th>
        <th>{% trans "Total Modules"%}</th>
        <th>{% trans "Teacher"%}</th>
      </tr>
    </thead>
    {% for course in courses %}
    {% with subject=course.subject %}
    <tbody>
      <tr>
        <td><a href="{% url "course_detail" course.slug %}">{{ course.title }}</a></td>
        <td><a href="{% url "course_list_subject" subject.slug %}">{{ subject }}</a></td>
        <td>{{ course.total_modules }}</td>
        <td>{{ course.owner.get_full_name }}</td>
      </tr>
    </tbody>
    {% endwith %}
    {% endfor %}
  </table>
</div>


{% endblock %}
