{% extends "base_dash_users.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
  <h1>{{ user.get_full_name }}</h1>
  <div class="profile-info">
    <div class="mb-3">
      <div class="small text-gray-500">Oblong T-Shirt
        <div class="small float-right"><b>600 of 800 Items</b></div>
      </div>
      <div class="progress" style="height: 12px;">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-3">
      <div class="small text-gray-500">Gundam 90'Editions
        <div class="small float-right"><b>500 of 800 Items</b></div>
      </div>
      <div class="progress" style="height: 12px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-3">
      <div class="small text-gray-500">Rounded Hat
        <div class="small float-right"><b>455 of 800 Items</b></div>
      </div>
      <div class="progress" style="height: 12px;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="mb-3">
      <div class="small text-gray-500">Indomie Goreng
        <div class="small float-right"><b>400 of 800 Items</b></div>
      </div>
      <div class="progress" style="height: 12px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  </div>
  </div>
  {% with total_followers=user.followers.count %}
    <span class="count">
      <span class="total">{{ total_followers }}</span>
      follower{{ total_followers|pluralize }}
    </span>


  {% endwith %}
{% endblock %}
