
{%load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Card Design</title>

    <link href="{% static 'css/styles2.css' %}" rel="stylesheet">
	<script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>
  <img class="wave" src="{% static 'img/back2.jpg' %}">
  <div class="container">

    <div class="img">
      <img src="{% static 'img/pic3.png' %}">
    </div>
    <div class="container">
    <div class="login-content">
      {% block content %}
      {% endblock %}
    </div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>
